@inherits LayoutComponentBase

<div>
    <!-- 

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    -->

    <!-- top bar for navigation -->
    <!-- splitter for up to 2 comparisons-->

    <RadzenTooltip />
    <NavMenu/>
    <div>
        @Body
    </div>
    
</div>
