
<div class="sidebar-grid-container">
    <div>
        <Simu.Pages.Breakdown.StatBreakdown AllStats="CurrentlySelectedSheetStats" Calculator="Calculator"/>
    </div>
    <div>
        <Sheet Stats="CurrentlySelectedSheetStats" OnStatsChanged="RecalculateStats"/>
    </div>
</div> 


