


<h3>Sheet</h3>

<Simu.Pages.SheetCategories.Profile AllStats="Stats" OnStatsChanged="RecalculateDamage"/>


<h1>Accessories</h1>

<h2># Magical Power</h2>

<h2>Selected Power, tuning points</h2>

<h2>enrichments</h2>

<h2>extra stats (blood god, wolf, ... of power gemstones, soulflow ferocity)</h2>


<h1>Equipment</h1>

<h2>Armor/Equipment (stats, reforges, rarity, enchantments per armour, attributes (mana pool int), stars, hpb)</h2>

<h2>equipment (reforges, rarity)</h2>

<h2>Set Bonus (dropdown of possible set bonuses)</h2>


<h1>Weapon</h1>

<h2>weapon (hpb, more damage, ferocity, reforges, effects, attributes)</h2>

<h2>gemstones (where applicable, dropdown how many)</h2>

<h2>enchantments (one for ultimate enchants)</h2>


<h1>Effects</h1>

<h2>Potions (god, strength, crit, jerry candy, mixin)</h2>

<h2>century cakes</h2>


<h1>Pets</h1>

<h2>pet (dropdown, level, pet item dropdown)</h2>


<h1>Bestiary (conditional)</h1>


<h1>(near the final damage section/breakdown) mode (melee/ranged/magic)</h1>

<div>
    Total Values:
    <br />
    Health: 
    <span>@Stats.Health.Total 
        @if(Stats.Health.Total != Stats.Health.TotalUncapped) 
        {
            <span> (@Stats.Health.TotalUncapped.ToString("N2"))</span>
        }
    </span>
    <br />
    Strength: 
    <span>@Stats.Strength.Total 
        @if(Stats.Strength.Total != Stats.Strength.TotalUncapped) 
        {
            <span> (@Stats.Strength.TotalUncapped.ToString("N2"))</span>
        }
    </span>

</div>